* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.btn {
    margin: 10px;
    padding: 5px;

    background-color: lightcoral;
    border-radius: 1000px;
    font-weight: 1000;
}

.bar {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.beat {
    padding: 10px;

    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    flex-wrap: nowrap;
}

.note {
    position: relative;

    margin: 5px;
    padding: 5px;

    height: 150px;
    width: 50px;

    background-color: gray;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

.note.first {
    height: 200px;
    font-size: 20px;
}

.note.add {
    height: 200px;
    background-color: transparent;
    border: 2px dotted gray;
}

.note-noteDisplay {
    /*
    position: absolute;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto; 
    */
}