* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --gradient: linear-gradient(to bottom right, red, orange);
    --shadow: 0px 0.3vw 1.5vw rgba(0,0,0,0.2);
    --huge-font: 4vw;
    --big-font: 2vw;
    --small-font: 1.6vw;
    --smaller-font: 1.2vw;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 4vw;
}

.btn {
    margin: 1vw;
    padding: 0.5vw 2vw;

    height: 4vw;
    width: 25vw;

    background-image: var(--gradient);
    text-align: left;
    font-size: var(--small-font);
    font-weight: 1000;
    color: white;
    border-radius: 1000px;
    border: none;
    box-shadow: var(--shadow);
}

.tempo-div {
    display: flex;
    align-items: center;
}

.tempo-input-container {
    display: flex;
    align-items: center;
    gap: 1vw;

    padding: 0.5vw 2vw;

    height: 4vw;

    background-image: var(--gradient);
    font-size: var(--small-font);
    font-weight: 1000;
    color: white;
    border-radius: 1000px;
    box-shadow: var(--shadow);
}

input, select {
    padding: 0.2vw 0.75vw;

    width: 14vw;

    font-size: var(--smaller-font);
    border-radius: 1vw;
    border: none;
    box-shadow: var(--shadow);
}

input {
    width: 5vw;

    text-align: center;
}

.menu {
    position: absolute;

    padding: 1.5vw 2vw;

    background-image: var(--gradient);
    font-size: var(--smaller-font);
    font-weight: 500;
    white-space: nowrap;
    color: white;
    border-radius: 1.5vw;
}

.menu-header {
    font-size: var(--small-font);
    font-weight: 1000;
    border-bottom: 0.2vw solid white;
}

.menu-item {
    margin-top: 1vw;
}

.dropdown {
    margin-top: 0.5vw;
}

.bar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.beat {
    padding: 1vw;

    display: flex; 
    align-items: center; 
    flex-wrap: nowrap;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin: 0.5vw;
    padding: 0.5vw;

    height: 15vw;
    width: 5vw;

    color: white;
    text-align: center;
    font-size: var(--small-font);
    font-weight: 1000;
    border-radius: 30% 70% / 10%;
    box-shadow: var(--shadow);
}

.note.first {
    height: 20vw;

    font-size: var(--big-font);
}

.note.add {
    height: 20vw;

    background-color: transparent;
    font-size: var(--huge-font);
    color: rgba(79, 200, 31, 1);
    text-shadow: 0.2vw 0.2vw rgba(0,0,0,1);
    border: 0.2vw solid rgba(0,0,0,1);
    box-shadow: inset 0px 0.3vw 1.5vw rgba(0,0,0,0.2), 0px 0.3vw 1.5vw rgba(0,0,0,0.2);
}